.input-container {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.input-user-information {
  width: 20%;
}

.nickname,
.password {
  width: 100%;
}

.input-contents-box {
  width: 80%;
  display: flex;
  padding-left: 20px;
  justify-content: flex-start;
}

.input-contents {
  width: 85%;
}

.submit-button {
  height: 100%;
  width: 12%;
  margin-left: 3%;
}
