.input-container {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.input-user-information {
  width: 20%;
}

.nickname,
.password {
  width: 100%;
}

.input-contents-box {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
  width: 80%;
  padding-left: 20px;
}
