.input-container {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.user-information {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.nickname {
  padding: 5px;
  margin: 10px;
}

.password {
  padding: 5px;
  margin: 10px;
}

.input-contents {
  width: 600px;
  height: 70px;
  margin: 10px;
}

.input-contents-box {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}
