.recipe {
  padding-left: 20px;
}
.recipe-name {
  padding: 15px;
  border-bottom: 1px solid;
  margin-bottom: 7px;
}
.like {
  display: flex;
  flex-direction: row;
  padding-bottom: 7px;
}
.like-count {
  font-size: 15px;
}
.like-button {
  position: absolute;
  right: 2%;
}

.recipe-image {
  display: block;
  padding: 5px;
  margin: 0px auto;
}
