@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

.page {
  width: 100%;
  height: 100%;
}

.recipe {
  width: 70%;
  height: 100%;
  margin: 0px auto;
  padding: 0 25px;
  background-color: white;
}
.recipe-name {
  padding: 15px;
  padding-top: 25px;
  border-bottom: 1px solid rgba(153, 150, 150, 0.555);
  margin-top: 0px;
  margin-bottom: 7px;
}
.like {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 7px;
}

.like-count {
  font-size: 15px;
}
.like-button {
}

.recipe-thumbnail {
  width: 100%;
  display: flex;
  justify-content: center;
}

.recipe-thumbnail-image {
  width: 50%;
  height: auto;
  border-radius: 20px;
}

.recipe-description {
  border-bottom: 1px solid rgba(153, 150, 150, 0.555);
  padding: 10px;
}

.comment-container {
}

.comment-header {
  border-bottom: 1px solid rgba(153, 150, 150, 0.555);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
}

.comment-box {
  border-bottom: 1px solid rgba(153, 150, 150, 0.555);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.comment-author {
  width: 200px;
  padding-right: 100px;
}

.comment-delete-button {
  position: relative;
}
