@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

.recipe {
  font-family: "Notos Sans KR", sans-serif;
  padding-left: 20px;
}
.recipe-name {
  padding: 15px;
  border-bottom: 1px solid rgba(153, 150, 150, 0.555);
  margin-bottom: 7px;
}
.like {
  display: flex;
  flex-direction: row;
  padding-bottom: 7px;
}
.like-count {
  font-size: 15px;
}
.like-button {
  position: absolute;
  right: 2%;
}

.recipe-image {
  display: block;
  margin: 0px;
  height: 300px;
  width: 300px;
}
