@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

.sidebar {
  width: 25%;
  max-width: 400px;
  height: calc(100vh - 82px);
  background-color: #2a63ae;
  /* background-color: #1b4172; */
  display: inline-block;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 15px;
}

.sidebar-header {
  font-size: max(20px, min(3vw, 40px));
  font-weight: 700;
  color: white;
  border-width: 3px;

  /* height: 1%; */
  padding: 30px 0px;
  padding-left: min(2.5vw, 30px);
  margin: 0;
}

.sidebar-content {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-ingredient-list {
  width: 100%;
  height: 63vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  padding-top: 20px;
  overflow: hidden;
  overflow-y: scroll;
}

.selected-ingredient-element {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  background-color: white;
  border-radius: 15px;
  border-bottom: 1px solid #3772bf;
  padding: 10px 0;
  padding-left: 15px;
  margin-bottom: 15px;
}

.selected-ingredient-element:hover {
  background-color: #f7f7f7;
}

.selected-ingredient-pin {
  position: absolute;
  top: -18px;
  left: -18px;
  width: 35px;
  height: 35px;
}

.selected-ingredient-name {
  font-size: min(1.7vw, 26px);
  height: 100%;
}

.selected-delete-button {
}

.search-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
  width: 85%;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #152f57;

  color: #f7d556;
}

.search-link-text {
  margin-left: 5px;
  text-align: center;
  font-size: min(1.4vw, 23px);
  font-weight: 800;
  color: #f7d556;
}
