.home {
  width: 100%;
  height: 100%;
}

.home-header {
  position: relative;
  width: 100%;
  height: 45%;
  /* margin-bottom: 40px; */
}

.home-header-img {
  width: 100%;
  height: 100%;
  max-height: 378px;
  object-fit: cover;
}

.home-header-over {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.home-header-over-title {
  padding: 10px 0px;
  font-weight: 400;
  font-size: 30px;
  color: white;
  border-bottom: 1px solid white;
}

.home-list {
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: 30px;
  padding: 10px 0px;
  padding-left: 10px;
  overflow: hidden;
}

.home-list:hover {
  overflow: scroll;
}

.home-ingredient-list {
  margin-bottom: 30px;
}

.home-list-titles {
  display: flex;
  align-items: center;
}

.home-list-title {
  font-weight: 500;
  font-size: 23px;
  margin-right: 12px;
}

.home-list-subtitle {
  font-weight: 300;
  font-size: 18px;
}

.home-list-mapping {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 18px;
  width: 100%;
}
