/* 이미지 사이즈에 맞추어 추후에 행열 길이 변경 */

.ingredient-container {
  display: grid;
  grid-template-rows: repeat(
    5,
    minmax(200px, 200px)
  ); /* 열의 갯수, 그리고 길이 */
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 200px)
  ); /* 행의 갯수, 그리고 길이 */
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
}
.ingredient-header {
  padding-top : 3px;
  display: flex;
  flex-direction: row;
}

.ingredient-container-item {
  border: 1px solid rgba(153, 150, 150, 0.555);
}
