@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.sidebar {
  width: 30%;
  height: 100%;
  background-color: dodgerblue;
  display: inline-block;
}

.sidebar-header{
  font-family: 'Jua', sans-serif;
  color: white;
  padding-left: 40px;
  border-bottom: 1px double white;
  border-width: 3px;
  padding-bottom: 20px;
}

.ingredient-list {
  list-style-type: none;
  color: white;
  line-height: 2em;
  font-size: x-large;
}
