@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

.sidebar {
  width: 25%;
  background-color: #2a63ae;
  display: inline-block;
  border-right: 1px solid #3772bf;
}

.sidebar-header {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  padding-left: 40px;
  border-bottom: 1px double #3772bf;
  border-width: 3px;
  padding-bottom: 20px;
}

.sidebar-content {
  position: sticky;
  top: 0;
}

.ingredient-list {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  line-height: 2em;
  font-size: x-large;
}

.ingredient-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #3772bf;
  color: white;
}
.ingredient-element:hover {
  background-color: #3772bf;
}

.search-link {
  display: block;
  padding: 30px;
  text-align: center;
  color: white;
  margin: auto;
}

.search-link:hover {
  background-color: #3772bf;
}

.sidebar-delete-button {
  color: white;
}
