.result-box {
  display: flex;
  width: 100%;
  /* padding: 0px 50px; */
  margin-top: 45px;
  margin-bottom: 45px;
  border: 1px solid rgb(163, 154, 154);
  justify-content: space-between;
  /* align-items: center; */
}

.result-box:hover {
  border: 1px solid black;
}
.result-link {
  display: flex;
  flex-direction: row;
}
.text-content {
  width: 70%;
  padding: 10px;
}
img {
  width: 150px;
  height: 150px;
  padding: 15px;
}

#like-off {
  background-color: #3772bf;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  padding: 0px;
  margin: 10px;
  text-align: center;
  align-self: baseline;
  cursor: pointer;
  color: white;
}

#like-on {
  background-color: deepskyblue;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  padding: 0px;
  margin: 10px;
  text-align: center;
  align-self: baseline;
  cursor: pointer;
  color: white;
}

p {
  line-height: 2vh;
}

#select-result-title {
  text-align: center;
}

#preview {
  color: rgb(119, 122, 122);
}
