@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 82px;
  background-color: #fdfdfd;
  border-bottom: 1px solid #eaeaea;
}

.title {
  margin-left: min(34px, 3%);
  width: max(180px, min(22vw, 260px));
  padding: 5px 0px;

  font-size: max(20px, min(2.5vw, 30px));
  font-weight: 600;
  color: black;
}

.menu {
  margin-left: min(2.5vw, 25px);
  padding: 5px 10px;
  border-radius: 11px;
  background-color: rgba(0, 0, 0, 0);

  font-size: min(1.4vw, 15px);
  color: black;

  transition: all 0.3s background-color;
}

.menu:hover {
  background-color: #e0e0e0;
}
